.barNav{
  background-image:linear-gradient(60deg, white, #0404B4);
}

.barNav .navbar-brand{
  font-size : 40px;
  color: #0404B4;
}

.nav-link{
  color: azure;
}

@media (max-width: 768px){
  #navbarNav{
    position: absolute;
    top: 70px;
  } 

  .navbar-nav.navbar-left{
    background-color: green;
  }
}

* {
  font-family: Calibri;
  color: dimgrey;
}


h5 {
  color: cornflowerblue;
  font-weight: bolder;
}

.hr {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.hr::before,
.hr::after {
  content: '';
  flex: 1;
  margin: 0 .25em;
  border-bottom: 1px solid #000;
}

.navbar {
  display: table-row;
  height: 10%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #5f4bea);
  position: fixed;
}


.position {
  position: absolute;
  top: 25%;
  right: 1em;
  /* pour IE9 et + ce hack ci-dessous peut être fait avec les commentaires conditionnels d'IE :
[if gte IE 9]
@media only screen {
	#selecteur {
			filter: none;
	}
}
/*Ie9+*/
}

.logo {
  display: block;
  position: fixed;
  top: 3%;
  left: 3%;
  max-width: 50%;
  height: auto;
}

img {
  max-width: 50%;
  height: auto;
}