<!--div class="bandeau_top"></div>
<div class="logo">
  <div class="container">
    <div class="row">
      <img src="../../assets/img/logo.png" class=" img-fluid">
    </div>
  </div>
</div-->
<nav class="navbar navbar-default barNav">
  <div class="container-fluid">
    <div class="navbar-header justify-content-start">
      <a class="navbar-brand font-weight-bold" routerLink="home" routerLinkActive="active">
         <img src="../../assets/img/logo.png" class=" img-fluid"></a>
    </div>
    <hr>
    <!--nav class="nav  nav-pills justify-content-start">
      <!--li class="nav-item"><a class="nav-link" routerLink="/listEmployes" routerLinkActive="active">
          Employés</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/listEntreprises" routerLinkActive="active">
          Companies</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/listCommercants" routerLinkActive="active">
          Commerçant</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/ActiveCompte" routerLinkActive="active">
          Active-Compte</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/Layout" routerLinkActive="active">
        Layout</a></li>
    </nav-->

    <hr>
    <nav class="nav  nav-pills justify-content-end">
      <!-- Dropdown-->

      <li class="nav-item"><a *ngIf="_authService.loggedIn()" class="nav-link" (click)="_authService.logout()">
          Deconnexion</a></li>
    </nav>

  </div>

</nav>
  <div class="bandeau_bottom"></div>