.barNav{
  background-image:linear-gradient(60deg, white, #0404B4);
}

.barNav .navbar-brand{
  font-size : 40px;
  color: #0404B4;
}

.nav-link{
  color: azure;
}

@media (max-width: 768px){
  #navbarNav{
    position: absolute;
    top: 70px;
  } 

  .navbar-nav.navbar-left{
    background-color: green;
  }
}