.cadreForm {
    width: 350px;
  }
  
  #cardInt {
    min-width: 300px;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.0);
    border: 0 none;
    margin: 0 auto;
  }
  #divCard{
    min-width: 350px;
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    border: 0 none;
    margin-top: 5%;
    
  }
  
  .hr {
    display: flex;
    align-items: center;
    margin: 1em 0;
  }
  
  .hr::before,
  .hr::after {
    content: '';
    flex: 1;
    margin: 0 .25em;
    border-bottom: 1px solid #000;
  }
  
  .form-check-label {
    margin-left: 20px;
  }
  
  
  .bgimg {
    background-image: url('/assets/img/employe.jpg');
    height: 100vh;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // position: fixed
    // widows: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
  }
  
  @media  screen and (max-width: 700px) {
    div.container {
      float: center;
      
    }
  }
  
  @media  screen and (min-width: 700px) {
    div.container {
      margin-left: 30px;
      float: left;
    }
  }