<div class="bgimg">
  <div class="container" style="width: 50%; float: left;">
    <H1 style="text-align: center" style="margin-top:15%">Liste des transactions</H1>
    <table class="table">
      <thead>
        <tr>
          <th>Date:</th>
          <th>Commercant:</th>
          <th>Montant:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transactions; let i=index">
          <td *ngIf="i<5" style="max-width: 30px;font-weight: bold;" >{{item.formatDate}}</td>
          <td *ngIf="i<5" style="width: 300px; font-weight: bold;">{{item.commercant}}</td>
          <td *ngIf="i<5" style="max-width: 20px; font-weight: bold;">{{item.montant}}€</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
