

.bgimg {
    background-image: url('src/assets/img/employe.jpg');
    height:100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    
    // position: fixed
    // widows: 100%;
  }
