<div class="bgimg">
    <div class="container">
      <div class="formulaire">
        <div class="container cadreForm">
          <div class="row">
            <div class="card" id="divCard">
              <div class="card" id="cardInt">
                <br>
                <form [formGroup]="employeForm" (ngSubmit)="onSubmitForm()">
  
                <div class="form-group">
                  <label for="email">Adresse Email</label>
                  <input type="email" class="form-control" formControlName="email" (focusout)="focusOutFunction($event)"
                    [ngClass]="{ 'is-invalid': (submitted ||  f.email.touched ) && loginExist }" />
                  <div *ngIf="(submitted ||  f.email.touched ) && loginExist" class="invalid-feedback">
                    <div *ngIf="loginExist">Erreur de login</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label>Mot de passe</label>
                  <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': (submitted || f.password.touched) && errPassword }" />
                  <div *ngIf="(submitted || f.password.touched ) && errPassword " class="invalid-feedback">
                      <div *ngIf="errPassword">Erreur de mot de passe</div>
                  </div>
                </div>
  
  
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="souvenir">
                  <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label><br /><br />
                </div>
                <div class="form-group">
                  <h6> J'ai oublié mon <a href="mailto:mon@adresse.fr">mot de passe</a></h6>
                </div>
                <br />
                <div style="margin:auto">
  
                  <button type="submit" class="ombre btn btn-danger  btn-block"[disabled]="employeForm.invalid">Soumettre</button>
                  <br>
                </div>
                </form>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  