<div class="bgimg">
  <div class="container">
    <div class="formulaire">
      <div class="container cadreForm">
        <div class="row">
          <div class="card" id="divCard">
            <div class="card" id="cardInt">
              <br>

              <form [formGroup]="commercantForm" (ngSubmit)="onSubmitForm(status)">

                <div class="form-group">
                  <label for="nomCommercant">Enseigne commercant</label>
                  <input type="text" class="form-control" id="nomCommercant" 
                  formControlName="nomCommercant" [ngClass]="{ 'is-invalid': submitted && f.nomCommercant.errors }" />
                  <div *ngIf="submitted && f.nomCommercant.errors" class="invalid-feedback">
                    <div *ngIf="f.nomCommercant.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.nomCommercant.errors.minlength">Au minimum 4 caractères</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="tel">Telephone</label>
                  <input type="text" class="form-control" id="tel" 
                  formControlName="tel" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" />
                  <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                    <div *ngIf="f.tel.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.tel.errors.pattern">Le format '0[0-9]*9' doit etre respecté</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">Adresse Email</label>
                  <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.siretCommercant.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.email.errors.email">Format 'nom@domaine.tld' doit etre respecté</div>
                  </div>
                  <div *ngIf="loginExist" class="invalid-feedback">L'adresse mail est déjà utilisée</div>
                </div>

                <div class="form-group">
                  <label for="ibanCommercant">IBAN</label>
                  <input type="text" class="form-control" id="ibanCommercant" formControlName="ibanCommercant"
                    [ngClass]="{ 'is-invalid': submitted && f.siretCommercant.errors }" />
                  <div *ngIf="submitted && f.ibanCommercant.errors" class="invalid-feedback">
                    <div *ngIf="f.ibanCommercant.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.ibanCommercant.errors.minlength">Au minimum 27 chiffres</div>
                    <div *ngIf="f.ibanCommercant.errors.maxlength">Au maximum 27 chiffres</div>
                  </div>
                </div>


                <div class="form-group">
                  <label for="siretCommercant">SIRET</label>
                  <!--input type="string" class="form-control" id="siretCommercant" formControlName="siretCommercant"
                    ngModel required-->
                  <input type="text" name="siretCommercant" id="siretCommercant" class="form-control" formControlName="siretCommercant"
                    [ngClass]="{ 'is-invalid': submitted && f.siretCommercant.errors }" />
                  <div *ngIf="submitted && f.siretCommercant.errors" class="invalid-feedback">
                    <div *ngIf="f.siretCommercant.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.siretCommercant.errors.minlength">Au minimum 14 chiffres</div>
                    <div *ngIf="f.siretCommercant.errors.maxlength">Au maximum 14 chiffres</div>
                    <div *ngIf="f.siretCommercant.errors.pattern">Le format '[1-9][0-9]*13' doit etre respecté</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="tpe">numero TPE</label>
                  <input type="text" class="form-control" id="tpe" formControlName="tpe" [ngClass]="{ 'is-invalid': submitted && f.tpe.errors }" />
                  <div *ngIf="submitted && f.tpe.errors" class="invalid-feedback">
                    <div *ngIf="f.tpe.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.tpe.errors.minlength">Au minimum 12 chiffres</div>
                    <div *ngIf="f.tpe.errors.maxlength">Au maximum 12 chiffres</div>
                    <div *ngIf="f.tpe.errors.pattern">Le format : '[1-9][0-9]*11' doit etre respecté</div>
                  </div>
                </div>


                <button type="submit" class="btn btn-primary">Soumettre</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
