<div class="bgimg">
  <div class="container">
    <div class="formulaire">
      <div class="container cadreForm">
        <div class="row">
          <div class="card" id="divCard">
            <div class="card" id="cardInt">
              <br>

              <form [formGroup]="commercantForm" (ngSubmit)="onSubmitForm()">

                <div class="form-group">
                  <label for="nomCommercant">Enseigne commercant</label>
                  <input type="text" class="form-control" formControlName="nomCommercant"
                    [ngClass]="{ 'is-invalid': (submitted || f.nomCommercant.touched ) && f.nomCommercant.errors }" />
                  <div *ngIf="(submitted || f.nomCommercant.touched) && f.nomCommercant.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.nomCommercant.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.nomCommercant.errors?.minlength">Au minimum 4 caractères</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="tel">Telephone</label>
                  <input type="text" class="form-control" formControlName="tel"
                    [ngClass]="{ 'is-invalid': (submitted || f.tel.touched ) && f.tel.errors }" />
                  <div *ngIf="(submitted || f.tel.touched ) && f.tel.errors" class="invalid-feedback">
                    <div *ngIf="f.tel.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.tel.errors?.pattern">Le format '0[0-9]*9' doit etre respecté</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">Adresse Email</label>
                  <input type="email" class="form-control" formControlName="email" (keyup)="uniqueElement('email')"
                    [ngClass]="{ 'is-invalid': (submitted ||  f.email.touched ) && (f.email.errors || !eleUnique.email) }" />
                  <div *ngIf="(submitted ||  f.email.touched ) && (f.email.errors || !eleUnique.email)"
                    class="invalid-feedback">
                    <div *ngIf="f.email.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.email.errors?.email">Format 'nom@domaine.tld' doit etre respecté</div>
                    <div *ngIf="!eleUnique.email">L'adresse mail est associé a un autre utilisateur</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="ibanCommercant">IBAN</label>
                  <input type="text" class="form-control" formControlName="ibanCommercant"
                    (keyup)="uniqueElement('iban')"
                    [ngClass]="{ 'is-invalid':  (submitted || f.ibanCommercant.touched ) && (f.ibanCommercant.errors || !eleUnique.iban) }" />
                  <div *ngIf="(submitted || f.ibanCommercant.touched ) && (f.ibanCommercant.errors || !eleUnique.iban)"
                    class="invalid-feedback">
                    <div *ngIf="f.ibanCommercant.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.ibanCommercant.errors?.minlength || f.ibanCommercant.errors?.maxlength">Ce champ doit
                      contenir 27 chiffres</div>
                    <div *ngIf="!eleUnique.iban">Le numéro IBAN est associé a un autre utilisateur</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="siretCommercant">SIRET</label>
                  <input type="text" name="siretCommercant" class="form-control" formControlName="siretCommercant"
                    (keyup)="uniqueElement('siret')"
                    [ngClass]="{ 'is-invalid': (submitted ||  f.siretCommercant.touched ) && (f.siretCommercant.errors || !eleUnique.siret) }" />
                  <div
                    *ngIf=" (submitted || f.siretCommercant.touched ) && (f.siretCommercant.errors || !eleUnique.siret)"
                    class="invalid-feedback">
                    <div *ngIf="!eleUnique.siret">Le numéro SIRET est associé a un autre utilisateur</div>
                    <div *ngIf="f.siretCommercant.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.siretCommercant.errors?.minlength || f.siretCommercant.errors?.maxlength">Ce champ
                      doit contenir 14 chiffres</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="tpe">numero TPE</label>
                  <input type="text" class="form-control" formControlName="tpe" (keyup)="uniqueElement('tpe')"
                    [ngClass]="{ 'is-invalid': (submitted || f.tpe.touched ) && (f.tpe.errors || !eleUnique.tpe) }" />
                  <div *ngIf="(submitted ||f.tpe.touched ) && (f.tpe.errors || !eleUnique.tpe)"
                    class="invalid-feedback">
                    <div *ngIf="!eleUnique.tpe">Le numéro TPE est associé a un autre utilisateur</div>
                    <div *ngIf="f.tpe.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.tpe.errors?.minlength || f.tpe.errors?.maxlength">Ce champ doit contenir 12 chiffres
                      <div *ngIf="f.tpe.errors?.pattern">Ce champ ne doit pas commencer par un '0'</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Mot de passe</label>
                  <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': (submitted || f.password.touched) && f.password.errors }" />
                  <div *ngIf="(submitted || f.password.touched ) && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors?.required">Password is required</div>
                    <div *ngIf="f.password.errors?.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Confirmer mot de passe</label>
                  <input type="password" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': (submitted || f.confirmPassword.touched) && f.confirmPassword.errors }" />
                  <div *ngIf="(submitted || f.confirmPassword.touched) && f.confirmPassword.errors "
                    class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors?.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors?.mustMatch">Passwords must match</div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="commercantForm.invalid">Soumettre</button>
              </form>
              <!--a  class="btn btn-primary" data-toggle="modal" href="#ignimyModal">Soumettre</a>
              <div class="modal fade" id="ignimyModal" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button class="close" type="button" data-dismiss="modal" arial-label=""> <span>X</span> </button>
                    </div>
                    <div class="modal-body">
                      <div class="thank-you-pop">
                        <img src="" alt="image ici">
                        <h1> Merci de votre connexion</h1>
                        <p>info supplémentaire</p>
                        <h3 class="cupon-pop">info complémentaire <span> id / mot de passe</span></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div-->


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
