<div class="bgimg">
  <div class="container">
    <div class="formulaire">
      <div class="container cadreForm">
        <div class="row">
          <div class="card" id="divCard">
            <div class="card" id="cardInt">

                <h1 style="text-align: center"><span>{{status}}</span></h1>

              <form [formGroup]="employeForm" (ngSubmit)="onSubmitForm()">

                <div class="form-group">
                  <label for="nom">Nom</label>
                  <input type="text" class="form-control" id="nom" formControlName="nom"[ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                  <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                    <div *ngIf="f.nom.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.nom.errors.minlength">Au minimum 4 caractères</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="prenom">Prenom</label>
                  <input type="text" class="form-control" id="prenom" formControlName="prenom"[ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
                  <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                    <div *ngIf="f.prenom.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.prenom.errors.minlength">Au minimum 4 caractères</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="tel">Telephone</label>
                  <input type="text" class="form-control" id="tel" 
                  formControlName="tel" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" />
                  <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                    <div *ngIf="f.tel.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.tel.errors.pattern">Le format '0[0-9]*9' doit etre respecté</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">Adresse Email</label>
                  <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.email.errors.email">Format 'nom@domaine.tld' doit etre respecté</div>
                  </div>
                  <div *ngIf="loginExist" class="invalid-feedback">L'adresse mail est déjà utilisée</div>
                </div>

                <button type="submit" class="btn btn-primary">Soumettre</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
