
<!--remplacer class par ngClass
<li class="list-group-item">-->
<li [ngClass]="{'list-group-item': true,
               'list-group-item-danger':0>getMontant()}" >
      <!-- Ici, vous trouvez la syntaxe pour l'interpolation : les doubles accolades  {{ }} .  Ce qui se trouve entre
      les doubles accolades correspond à l'expression TypeScript que nous voulons afficher, 
      l'expression la plus simple étant une variable. -->
      <!--
      <div style="width: 20px; height:20px ;background-color:red" *ngIf="(10>getMontant())"></div>
      <div style="width: 20px; height:20px ;background-color:orange" *ngIf="(20 > getMontant())&&(getMontant()>=10)"></div>
      <div style="width: 20px; height:20px ;background-color:green" *ngIf="getMontant()>=20"></div>
      -->
      <!--<div *ngIf="0 > 1"> Afficher la div</div>-->
      <h4 >numéro :{{transNumero}} -- montant : {{getMontant()}}€</h4>
      <!--suppresion de la balise : [ngStyle]="{'color': getColor()}" dans h4-->
      <!--la ligne ci-dessous permet de faire une modificaiton à la voler de transNumeros-->
      <!--<input type="text" class="form-control" [(ngModel)]="transNumero">-->
</li>