* {
  font-family: Calibri;
  color: dimgrey;
}


h5 {
  color: cornflowerblue;
  font-weight: bolder;
}

.hr {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.hr::before,
.hr::after {
  content: '';
  flex: 1;
  margin: 0 .25em;
  border-bottom: 1px solid #000;
}

.position {
  position: absolute;
  top: 25%;
  right: 1em;
  /* pour IE9 et + ce hack ci-dessous peut être fait avec les commentaires conditionnels d'IE :
[if gte IE 9]
@media only screen {
	#selecteur {
			filter: none;
	}
}
/*Ie9+*/
}

.ombre {
  box-shadow: -4px -4px 11px 7px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: -4px -4px 11px 7px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: -4px -4px 11px 7px rgba(119, 119, 119, 0.75);
}


.bgimg {
  background: url('/assets/img/background-photo.jpg') ;
  height:100vh;
  // background-repeat: no-repeat;
  // background-attachment: fixed;    
  // position: fixed
  // widows: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

@media  screen and (max-width: 700px) {
  div.row {
    float: center;
    
  }
}

// @media  screen and (min-width: 700px) {
//   div.card {
//     float: left;
//     margin-left: 30px;
//   }
// }
