.rectangle {
	height:160px;
	margin-bottom:40px;
  display:table;
  margin-right: 10px;
}


.texte_encadre_noir {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	color:#fff;
	display:table-cell; 
	vertical-align:middle; 
	width:100%; 
	margin:0 auto; 
  text-align:center;
  float: right;
}