<div class="bgimg" (resized)="onResized($event)">
  <div class="container" id="zoneAffichage">
    <div class="block">
      <h2 style="text-align: center" id="infoNom"> {{nomEntreprise.toUpperCase()}} </h2>
    </div>
    <table mat-table [dataSource]="listeEmployes">

      
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element" class="margin: auto"> {{element.nom}} {{element.prenom}} </td>
      </ng-container>

      
      <ng-container matColumnDef="restix">
        <th mat-header-cell *matHeaderCellDef> restix </th>
        <td mat-cell *matCellDef="let element" class="margin: auto"> {{element.restix}} </td>
      </ng-container>

      
      <ng-container matColumnDef="action" style="max-width: 50px">
        <th mat-header-cell *matHeaderCellDef> action </th>
        <td mat-cell *matCellDef="let element"> <a class="btn btn-primary" (click)="actionEmploye('éditer',element._id)"
            style="margin-right: 5px; margin-left: 5px"><i class="fas fa-user-edit" aria-hidden="true"></i></a>
          <a class="btn btn-danger" (click)="actionEmploye('supprimer',element._id)"><i class="fas fa-user-times"></i></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
    <!--tr mat-header-row *matHeaderRowDef="displayColumns"></tr-->
  </div>
</div>
